<div class="banner-products-section side-pads">
  <div id="banner-products" class='container'> 
    <div class="banner-slider">
        {% assign collection = section.settings.slider-collection %}
        {%- for product in collection.products -%}
        <div class="slider-img">
          <a href="{{product.url}}">
          {{ product | img_url: 'master' | img_tag}}
          </a>
        </div>
        {%- endfor -%}
    </div>
    <div class="featured-collection">
      {% assign featured-blocks = section.blocks | where: 'type', 'featured-product' %}
      {% for block in featured-blocks %}
      {% assign product = block.settings.featured_product %}
      <div class="product-card-container">
        <div class='product-card'>
          <a class='product-card__img'href="{{product.url}}">
            {{ product | img_url: 'medium' | img_tag}}
          </a>
          <div class="product-card__info">
            <div class="info__category">
              {{ product.vendor | escape }}
            </div>
            <div class="info__title">
              {{ product.title | escape }}
            </div>
            <div class="info__price">
              {{ product.price | money_without_trailing_zeros }}
              <div class="deliv-badge">
                <svg width="83" height="24" viewBox="0 0 83 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 6.4C0 4.15979 0 3.03969 0.435974 2.18404C0.819467 1.43139 1.43139 0.819467 2.18404 0.435974C3.03969 0 4.15979 0 6.4 0H83V23.623H6.4C4.15979 23.623 3.03969 23.623 2.18404 23.1871C1.43139 22.8036 0.819467 22.1917 0.435974 21.439C0 20.5834 0 19.4633 0 17.223V6.4Z" fill="#FAEDEC"/>
                <path d="M20.42 17L21.992 9.128H26.336L26.18 9.908H22.76L22.256 12.464H25.148L24.98 13.256H22.112L21.5 16.208H25.028L24.86 17H20.42ZM26.4072 17L27.5592 11.168H28.3152L28.2312 12.044H28.2792C28.6152 11.756 28.9472 11.516 29.2752 11.324C29.6032 11.124 29.9512 11.024 30.3192 11.024C30.8152 11.024 31.1672 11.152 31.3752 11.408C31.5912 11.664 31.6992 12.02 31.6992 12.476C31.6992 12.612 31.6912 12.74 31.6752 12.86C31.6672 12.98 31.6432 13.12 31.6032 13.28L30.8592 17H29.9472L30.6672 13.4C30.6992 13.24 30.7232 13.112 30.7392 13.016C30.7552 12.92 30.7632 12.82 30.7632 12.716C30.7632 12.42 30.6952 12.196 30.5592 12.044C30.4232 11.892 30.2032 11.816 29.8992 11.816C29.6672 11.816 29.4072 11.9 29.1192 12.068C28.8392 12.236 28.5152 12.504 28.1472 12.872L27.3192 17H26.4072ZM34.5598 17.144C34.3038 17.144 34.0878 17.108 33.9118 17.036C33.7358 16.972 33.5918 16.884 33.4798 16.772C33.3678 16.652 33.2878 16.516 33.2398 16.364C33.1918 16.204 33.1678 16.032 33.1678 15.848C33.1678 15.728 33.1718 15.62 33.1798 15.524C33.1958 15.42 33.2118 15.312 33.2278 15.2L33.9118 11.912H33.0598L33.1918 11.228L34.1038 11.168L34.5358 9.56H35.3158L34.9918 11.168H36.4678L36.3238 11.912H34.8238L34.1398 15.248C34.1158 15.392 34.1038 15.536 34.1038 15.68C34.1038 15.92 34.1558 16.1 34.2598 16.22C34.3718 16.34 34.5678 16.4 34.8478 16.4C34.9598 16.4 35.0678 16.38 35.1718 16.34C35.2758 16.3 35.3718 16.26 35.4598 16.22L35.6638 16.88C35.5278 16.944 35.3678 17.004 35.1838 17.06C34.9998 17.116 34.7918 17.144 34.5598 17.144ZM36.6142 17L37.7662 11.168H38.5222L38.3902 12.284H38.4382C38.6702 11.924 38.9382 11.624 39.2422 11.384C39.5542 11.144 39.8902 11.024 40.2502 11.024C40.4502 11.024 40.6342 11.06 40.8022 11.132L40.4782 11.948C40.3502 11.884 40.1822 11.852 39.9742 11.852C39.6862 11.852 39.3902 11.976 39.0862 12.224C38.7822 12.472 38.5062 12.836 38.2582 13.316L37.5262 17H36.6142ZM40.6706 14.708C40.6706 14.156 40.7626 13.656 40.9466 13.208C41.1306 12.752 41.3666 12.364 41.6546 12.044C41.9506 11.716 42.2826 11.464 42.6506 11.288C43.0266 11.112 43.4066 11.024 43.7906 11.024C44.1186 11.024 44.3946 11.08 44.6186 11.192C44.8506 11.296 45.0386 11.444 45.1826 11.636C45.3266 11.82 45.4306 12.044 45.4946 12.308C45.5586 12.564 45.5906 12.84 45.5906 13.136C45.5906 13.368 45.5666 13.588 45.5186 13.796C45.4706 14.004 45.4266 14.164 45.3866 14.276H41.5946C41.5386 14.652 41.5426 14.976 41.6066 15.248C41.6706 15.512 41.7746 15.732 41.9186 15.908C42.0706 16.084 42.2546 16.212 42.4706 16.292C42.6866 16.372 42.9226 16.412 43.1786 16.412C43.4106 16.412 43.6386 16.364 43.8626 16.268C44.0946 16.164 44.3026 16.044 44.4866 15.908L44.8466 16.52C44.6146 16.688 44.3386 16.836 44.0186 16.964C43.6986 17.084 43.3466 17.144 42.9626 17.144C42.2666 17.144 41.7106 16.936 41.2946 16.52C40.8786 16.096 40.6706 15.492 40.6706 14.708ZM41.6906 13.652H44.7506C44.7666 13.556 44.7786 13.46 44.7866 13.364C44.8026 13.268 44.8106 13.164 44.8106 13.052C44.8106 12.884 44.7906 12.724 44.7506 12.572C44.7106 12.412 44.6466 12.272 44.5586 12.152C44.4706 12.032 44.3546 11.936 44.2106 11.864C44.0666 11.792 43.8906 11.756 43.6826 11.756C43.4666 11.756 43.2546 11.8 43.0466 11.888C42.8466 11.976 42.6586 12.104 42.4826 12.272C42.3066 12.44 42.1466 12.64 42.0026 12.872C41.8666 13.104 41.7626 13.364 41.6906 13.652ZM48.0199 19.688C47.6279 19.688 47.2599 19.612 46.9159 19.46C46.5719 19.308 46.2599 19.116 45.9799 18.884L46.4119 18.248C46.6359 18.44 46.8839 18.604 47.1559 18.74C47.4279 18.876 47.7279 18.944 48.0559 18.944C48.5599 18.944 48.9599 18.784 49.2559 18.464C49.5519 18.152 49.7639 17.732 49.8919 17.204L50.1919 15.956C49.8879 16.26 49.5679 16.5 49.2319 16.676C48.8959 16.852 48.5399 16.94 48.1639 16.94C47.6679 16.94 47.2599 16.768 46.9399 16.424C46.6279 16.08 46.4719 15.568 46.4719 14.888C46.4719 14.352 46.5559 13.852 46.7239 13.388C46.8999 12.916 47.1319 12.508 47.4199 12.164C47.7079 11.812 48.0359 11.536 48.4039 11.336C48.7799 11.128 49.1639 11.024 49.5559 11.024C49.8599 11.024 50.1359 11.104 50.3839 11.264C50.6319 11.424 50.8239 11.636 50.9599 11.9H50.9959L51.2239 11.168H51.9799L50.7559 17.276C50.5959 18.052 50.2839 18.648 49.8199 19.064C49.3559 19.48 48.7559 19.688 48.0199 19.688ZM48.4639 16.172C48.7439 16.172 49.0439 16.088 49.3639 15.92C49.6839 15.744 49.9839 15.488 50.2639 15.152L50.7799 12.656C50.5959 12.352 50.4079 12.132 50.2159 11.996C50.0239 11.86 49.8159 11.792 49.5919 11.792C49.3119 11.792 49.0399 11.876 48.7759 12.044C48.5119 12.204 48.2799 12.424 48.0799 12.704C47.8799 12.976 47.7199 13.292 47.5999 13.652C47.4799 14.004 47.4199 14.372 47.4199 14.756C47.4199 15.236 47.5119 15.592 47.6959 15.824C47.8799 16.056 48.1359 16.172 48.4639 16.172ZM54.5269 17.144C54.0149 17.144 53.6069 16.964 53.3029 16.604C52.9989 16.244 52.8469 15.72 52.8469 15.032C52.8469 14.472 52.9349 13.948 53.1109 13.46C53.2869 12.972 53.5229 12.548 53.8189 12.188C54.1149 11.828 54.4509 11.544 54.8269 11.336C55.2029 11.128 55.5949 11.024 56.0029 11.024C56.3149 11.024 56.5909 11.104 56.8309 11.264C57.0789 11.424 57.2709 11.636 57.4069 11.9H57.4549L57.6829 11.168H58.4269L57.2629 17H56.5069L56.6029 16.136H56.5549C56.2749 16.44 55.9589 16.684 55.6069 16.868C55.2549 17.052 54.8949 17.144 54.5269 17.144ZM54.8629 16.376C55.1669 16.376 55.4749 16.288 55.7869 16.112C56.1069 15.928 56.4109 15.644 56.6989 15.26L57.2269 12.656C57.0589 12.352 56.8749 12.132 56.6749 11.996C56.4749 11.86 56.2629 11.792 56.0389 11.792C55.7509 11.792 55.4709 11.88 55.1989 12.056C54.9269 12.224 54.6869 12.452 54.4789 12.74C54.2709 13.028 54.1029 13.36 53.9749 13.736C53.8549 14.104 53.7949 14.488 53.7949 14.888C53.7949 15.392 53.8909 15.768 54.0829 16.016C54.2749 16.256 54.5349 16.376 54.8629 16.376ZM61.5048 17L63.2088 8.456H64.1328L63.5568 11.276L63.3648 12.008H63.4128C63.7488 11.728 64.0768 11.496 64.3968 11.312C64.7168 11.12 65.0568 11.024 65.4168 11.024C65.9128 11.024 66.2648 11.152 66.4728 11.408C66.6888 11.664 66.7968 12.02 66.7968 12.476C66.7968 12.612 66.7888 12.74 66.7728 12.86C66.7648 12.98 66.7408 13.12 66.7008 13.28L65.9568 17H65.0448L65.7648 13.4C65.7968 13.24 65.8208 13.112 65.8368 13.016C65.8528 12.92 65.8608 12.82 65.8608 12.716C65.8608 12.42 65.7928 12.196 65.6568 12.044C65.5208 11.892 65.3008 11.816 64.9968 11.816C64.7648 11.816 64.5048 11.9 64.2168 12.068C63.9368 12.236 63.6128 12.504 63.2448 12.872L62.4168 17H61.5048ZM69.8995 17.144C69.2675 17.144 68.7635 16.936 68.3875 16.52C68.0115 16.104 67.8235 15.532 67.8235 14.804C67.8235 14.252 67.9115 13.744 68.0875 13.28C68.2635 12.816 68.4995 12.42 68.7955 12.092C69.0915 11.756 69.4275 11.496 69.8035 11.312C70.1795 11.12 70.5675 11.024 70.9675 11.024C71.5995 11.024 72.1035 11.232 72.4795 11.648C72.8635 12.064 73.0555 12.636 73.0555 13.364C73.0555 13.916 72.9635 14.424 72.7795 14.888C72.6035 15.352 72.3675 15.752 72.0715 16.088C71.7835 16.416 71.4475 16.676 71.0635 16.868C70.6875 17.052 70.2995 17.144 69.8995 17.144ZM69.9955 16.376C70.2675 16.376 70.5275 16.3 70.7755 16.148C71.0315 15.988 71.2595 15.776 71.4595 15.512C71.6595 15.248 71.8195 14.936 71.9395 14.576C72.0595 14.216 72.1195 13.832 72.1195 13.424C72.1195 12.896 72.0115 12.492 71.7955 12.212C71.5875 11.924 71.2795 11.78 70.8715 11.78C70.6075 11.78 70.3475 11.86 70.0915 12.02C69.8355 12.172 69.6075 12.384 69.4075 12.656C69.2075 12.92 69.0475 13.232 68.9275 13.592C68.8075 13.952 68.7475 14.336 68.7475 14.744C68.7475 15.272 68.8515 15.676 69.0595 15.956C69.2755 16.236 69.5875 16.376 69.9955 16.376ZM73.3303 19.508C73.2423 19.508 73.1383 19.496 73.0183 19.472C72.8903 19.448 72.7703 19.404 72.6583 19.34L72.9583 18.656C73.1023 18.728 73.2463 18.764 73.3903 18.764C73.6863 18.764 73.9623 18.644 74.2183 18.404C74.4823 18.164 74.7143 17.84 74.9143 17.432L75.1303 17.012L74.1343 11.168H75.0463L75.5023 14.444C75.5423 14.708 75.5783 14.996 75.6103 15.308C75.6423 15.612 75.6703 15.904 75.6943 16.184H75.7423C75.8783 15.904 76.0183 15.616 76.1623 15.32C76.3143 15.016 76.4623 14.724 76.6063 14.444L78.2863 11.168H79.1983L75.7663 17.492C75.6143 17.78 75.4543 18.044 75.2863 18.284C75.1183 18.532 74.9343 18.744 74.7343 18.92C74.5423 19.104 74.3303 19.248 74.0983 19.352C73.8663 19.456 73.6103 19.508 73.3303 19.508Z" fill="#D14D41"/>
                <g clip-path="url(#clip0)">
                <path d="M9.29688 6.62305C8.7153 6.62305 8.24219 7.09616 8.24219 7.67773V8.05273L8.94531 8.4043H9.29688H9.64844L10.3516 8.05273V7.67773C10.3516 7.09616 9.87845 6.62305 9.29688 6.62305Z" fill="#D56939"/>
                <path d="M10.3516 8.05273V7.67773C10.3516 7.09616 9.87845 6.62305 9.29688 6.62305V8.4043H9.64844L10.3516 8.05273Z" fill="#D14D41"/>
                <path d="M4 17.2168C4.16291 18.0191 4.90741 18.623 5.75781 18.623C6.60822 18.623 7.37615 18.0191 7.53906 17.2168L6.77528 16.8652H4.48806L4 17.2168Z" fill="#474F54"/>
                <path d="M5.75781 17.9199C5.17623 17.9199 4.70312 17.4468 4.70312 16.8652C4.70312 16.2837 5.17623 15.8105 5.75781 15.8105C6.33939 15.8105 6.83594 16.2837 6.83594 16.8652C6.83594 17.4468 6.33939 17.9199 5.75781 17.9199Z" fill="#F2F9FF"/>
                <path d="M7.53906 10.8887H5.40625L4.70312 11.5918V13.7012L5.40625 14.0527H7.53906L8.59375 13.7012V11.8027L8.24219 11.5918L7.53906 10.8887Z" fill="#FF9100"/>
                <path d="M4.70312 10.1855V11.5918H8.24219L8.59375 11.4098L8.24219 11.2402V10.1855H4.70312Z" fill="#F3D230"/>
                <path d="M9.64844 17.2168H4V16.8652C4 15.5061 5.12523 14.4043 6.48438 14.4043L7.07031 14.0527H10.3516V16.6309L9.64844 17.2168Z" fill="#D56939"/>
                <path d="M4 13.7012H8.94531V14.4043H4V13.7012Z" fill="#32393F"/>
                <path d="M11.4062 15.4801V16.8019L11.0547 17.2168H9.64844V14.4043H8.94531C8.55859 14.4043 8.24219 14.0879 8.24219 13.7012V11.9434H10.3516V12.998C10.7383 12.998 11.0547 13.3145 11.0547 13.7012V15.1074L11.4062 15.4801Z" fill="#575F64"/>
                <path d="M11.4062 15.4801V16.8019L11.0547 17.2168H9.64844V14.4043H9.29688V11.9434H10.3516V12.998C10.7383 12.998 11.0547 13.3145 11.0547 13.7012V15.1074L11.4062 15.4801Z" fill="#474F54"/>
                <path d="M10.3516 11.5918V11.2402C10.3516 10.6587 9.87845 10.1855 9.29688 10.1855C8.7153 10.1855 8.24219 10.6587 8.24219 11.2402V11.9434C8.24219 12.5259 8.71438 12.998 9.29688 12.998H12.1328C12.7153 12.998 13.1875 12.5259 13.1875 11.9434V11.5918H10.3516Z" fill="#D56939"/>
                <path d="M13.1875 11.9434V11.5918H10.3516V11.2402C10.3516 10.6587 9.87845 10.1855 9.29688 10.1855V12.998H12.1328C12.7153 12.998 13.1875 12.5259 13.1875 11.9434Z" fill="#D14D41"/>
                <path d="M9.64844 8.4043H9.29688H8.94531L8.24219 8.75586V9.10742C8.24219 9.689 8.7153 10.1855 9.29688 10.1855C9.87845 10.1855 10.3516 9.689 10.3516 9.10742V8.75586L9.64844 8.4043Z" fill="#FFE1BA"/>
                <path d="M10.3516 9.10742V8.75586L9.64844 8.4043H9.29688V10.1855C9.87845 10.1855 10.3516 9.689 10.3516 9.10742Z" fill="#FFBFAB"/>
                <path d="M9.29688 8.05273H8.24219V8.75586H9.29688H11.0547V8.05273H9.29688Z" fill="#474F54"/>
                <path d="M9.29688 8.05273H11.0547V8.75586H9.29688V8.05273Z" fill="#32393F"/>
                <path d="M14.1564 13.7798C14.1176 13.5061 14.0406 12.9671 13.8872 11.8936L12.4844 11.2402V14.0527C12.4844 14.6073 12.0066 15.1074 11.4062 15.1074H11.0547V17.2168H11.7578H15.2969L16 16.8652V16.1621C16 15.0374 15.2241 14.0569 14.1564 13.7798Z" fill="#D14D41"/>
                <path d="M14.5938 12.2949H13.5391C12.9575 12.2949 12.4844 11.8218 12.4844 11.2402C12.4844 10.6587 12.9575 10.1855 13.5391 10.1855H14.5938V12.2949Z" fill="#D56939"/>
                <path d="M14.3478 15.1181L14.2456 15.5088L13.6514 15.2169C12.9734 15.4609 12.4844 16.1042 12.4844 16.8652C12.4844 17.8344 13.273 18.623 14.2422 18.623C15.2114 18.623 16 17.8344 16 16.8652C16 15.9322 15.267 15.174 14.3478 15.1181Z" fill="#32393F"/>
                <path d="M14.2422 15.8105C13.6606 15.8105 13.1875 16.2837 13.1875 16.8652C13.1875 17.4468 13.6606 17.9199 14.2422 17.9199C14.8238 17.9199 15.2969 17.4468 15.2969 16.8652C15.2969 16.2837 14.8238 15.8105 14.2422 15.8105Z" fill="#DFE7F4"/>
                <path d="M14.5902 16.8155L14.3478 15.1181C14.3121 15.116 14.2783 15.1074 14.2421 15.1074C14.0339 15.1074 13.8368 15.1502 13.6514 15.2169L13.894 16.915L14.5902 16.8155Z" fill="#C7CFE1"/>
                </g>
                <defs>
                <clipPath id="clip0">
                <rect width="12" height="12" fill="white" transform="translate(4 6.62305)"/>
                </clipPath>
                </defs>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    setTimeout(function(){
      $('.slick-next').append('<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.45239 9.78572L5.54763 5.50001L1.45239 1.21429" stroke="#363535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
      $('.slick-prev').append('<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5.54763 9.78572L1.45239 5.50001L5.54763 1.21429" stroke="#363535" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
      $('.slick-prev').insertAfter('.slick-list');
    },40)
  })
</script>  
{% schema %}
{
  "name": "Banner-with-products",
  "tag": "section",
  "class": "spaced-section",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "Slider Collection"
    }, 
    {
      "type": "collection",
      "id": "slider-collection",
      "label": "Slider collection"
    }, 
    {
      "type": "header",
      "content": "Featured Collection"
    }
  ],
  "blocks": [
    {
      "type": "featured-product",
      "name": "featured-product",
      "settings": [
        {
          "type": "header",
          "content": "Featured product"
        },      
        {
          "id": "featured_product",
          "type": "product",
       		"label": "Featured product"
        }
      ]
    }
  ],  
  "presets": [
    {
      "name": "Banner-with-products"
    }
  ]
}
{% endschema %}