<div class="header__first-row side-pads">
  <div class="header-container">
      <div class="brand-container">
        <a class="brand" href="#">
          <div class="brand__logo">
            <svg width="40" height="40" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M54.7625 13.0592C49.3571 5.1733 40.2827 0 30 0C13.4315 0 0 13.4314 0 30C0 32.4105 0.2843 34.7545 0.821171 37.0005L16.0983 21.7233C17.5628 20.2589 19.9372 20.2589 21.4017 21.7233L33.75 34.0717L54.7625 13.0592Z" fill="#EF2A82"/>
            <path d="M58.3281 20.1002L36.4017 42.0267C34.9372 43.4911 32.5628 43.4911 31.0983 42.0267L18.75 29.6783L3.80127 44.627C8.93324 53.7993 18.7425 60 30 60C46.5686 60 60 46.5686 60 30C60 26.531 59.4112 23.1996 58.3281 20.1002Z" fill="#EF2A82"/>
            </svg> 
          </div>
          <div class="brand__company-name">
            <svg width="117" height="16" viewBox="0 0 119 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.8084 13.056H5.60229L4.69311 16H0.634277L6.41406 0.240845H9.98584L15.8089 16H11.7284L10.8084 13.056ZM6.51147 10.1228H9.89925L8.19995 4.65686L6.51147 10.1228Z" fill="white"/>
              <path d="M30.1285 16H26.3511L20.7661 6.19381V16H16.967V0.240845H20.7661L26.3402 10.047V0.240845H30.1285V16Z" fill="white"/>
              <path d="M41.6772 13.056H36.4711L35.5619 16H31.5031L37.2829 0.240845H40.8546L46.6777 16H42.5972L41.6772 13.056ZM37.3803 10.1228H40.7681L39.0688 4.65686L37.3803 10.1228Z" fill="white"/>
              <path d="M51.6349 13.0776H58.2481V16H47.8358V0.240845H51.6349V13.0776Z" fill="white"/>
              <path d="M62.5884 7.08134L65.4891 0.240845H69.5912L64.515 10.3392V16H60.6618V10.3392L55.5963 0.240845H59.6768L62.5884 7.08134Z" fill="white"/>
              <path d="M83.3047 3.17403H78.5748V16H74.7757V3.17403H70.1324V0.240845H83.3047V3.17403Z" fill="white"/>
              <path d="M88.9654 16H85.1772V0.240845H88.9654V16Z" fill="white"/>
              <path d="M104.357 10.6639C104.306 11.7607 104.01 12.7312 103.469 13.5755C102.928 14.4125 102.167 15.0619 101.185 15.5237C100.211 15.9855 99.0963 16.2164 97.8407 16.2164C95.7698 16.2164 94.1391 15.5418 92.9485 14.1924C91.7579 12.8431 91.1626 10.9381 91.1626 8.47758V7.69828C91.1626 6.15412 91.4296 4.80478 91.9635 3.65027C92.5047 2.48854 93.2804 1.59379 94.2906 0.966024C95.3008 0.331041 96.4697 0.0135498 97.7974 0.0135498C99.7096 0.0135498 101.247 0.51865 102.408 1.52885C103.57 2.53183 104.23 3.91725 104.389 5.6851H100.601C100.572 4.72541 100.33 4.03631 99.8756 3.6178C99.421 3.19929 98.7283 2.99003 97.7974 2.99003C96.8522 2.99003 96.1595 3.3436 95.7193 4.05074C95.2791 4.75788 95.0482 5.88714 95.0266 7.43852V8.55335C95.0266 10.2346 95.2359 11.436 95.6544 12.1576C96.0801 12.8792 96.8089 13.24 97.8407 13.24C98.7138 13.24 99.3813 13.0343 99.8431 12.623C100.305 12.2117 100.55 11.5587 100.579 10.6639H104.357Z" fill="white"/>
              <path d="M114.282 11.8112C114.282 11.2556 114.083 10.8227 113.686 10.5124C113.297 10.2021 112.608 9.88104 111.619 9.54911C110.631 9.21719 109.822 8.89609 109.195 8.58582C107.153 7.58283 106.132 6.20463 106.132 4.45121C106.132 3.57811 106.384 2.80964 106.889 2.14579C107.402 1.47473 108.123 0.9552 109.054 0.587199C109.985 0.211982 111.031 0.0243734 112.193 0.0243734C113.326 0.0243734 114.339 0.226413 115.234 0.630493C116.136 1.03457 116.836 1.61183 117.334 2.36226C117.832 3.10548 118.081 3.95694 118.081 4.91663H114.293C114.293 4.27443 114.094 3.77654 113.697 3.42297C113.308 3.0694 112.777 2.89262 112.106 2.89262C111.428 2.89262 110.89 3.04415 110.493 3.34721C110.104 3.64305 109.909 4.02188 109.909 4.48368C109.909 4.88776 110.125 5.25576 110.558 5.58769C110.991 5.9124 111.753 6.25153 112.842 6.6051C113.932 6.95146 114.827 7.32667 115.526 7.73075C117.229 8.71209 118.081 10.065 118.081 11.7896C118.081 13.1678 117.561 14.2502 116.522 15.0367C115.483 15.8232 114.058 16.2164 112.247 16.2164C110.97 16.2164 109.812 15.9891 108.773 15.5345C107.741 15.0727 106.961 14.445 106.435 13.6512C105.915 12.8503 105.655 11.9303 105.655 10.8912H109.465C109.465 11.7355 109.682 12.3596 110.115 12.7637C110.555 13.1606 111.266 13.359 112.247 13.359C112.875 13.359 113.369 13.2255 113.73 12.9585C114.098 12.6843 114.282 12.3019 114.282 11.8112Z" fill="white"/>
              </svg>              
          </div>
        </a>
      </div>
      <div class ='search-field'>
        <form class='search-form' action="{{ routes.search_url }}">
          <label for="search-input" ></label>        
          <input id="search-input" class='search-form__input' type="text"
            placeholder="¿Que buscas?"
            name="q"
            value="{{ search.terms | escape }}"
          >
          <div class="search-form__btn">
            <input class='search-form__btn' type="submit" value="">
            <i class="fas fa-search"></i>
          </div>
        </form>
      </div>  
      <div class='right-info-blocks'>
        <div class="block">
          <div class='block__heading'>
            <svg class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 5.02944 7.02944 1 12 1C16.9706 1 21 5.02944 21 10V10Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
            <span class='text'>
              <strong>Todas</strong>
            </span>
          </div>
          <div class="block__subheading">
            Seleccionar tienda
          </div>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>   
        <div class="block">
          <div class='block__heading'>
            <div class="user-icon icon">JT</div>
            <span class='text'>
              <strong>JhonTa</strong>
            </span>
          </div>
          <div class="block__subheading">
            Ir a mi cuenta
          </div>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>         
        <div class="whislist-btn">
          <a href="">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8401 3.60999C19.8086 2.57799 18.4093 1.99817 16.9501 1.99817C15.491 1.99817 14.0916 2.57799 13.0601 3.60999L12.0001 4.66999L10.9401 3.60999C8.79173 1.46161 5.30851 1.46161 3.16012 3.60999C1.01173 5.75838 1.01173 9.24161 3.16012 11.39L4.22012 12.45L12.0001 20.23L19.7801 12.45L20.8401 11.39C21.8721 10.3585 22.4519 8.95913 22.4519 7.49999C22.4519 6.04086 21.8721 4.64152 20.8401 3.60999Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </a>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>         
        <div class="shopping-cart">
          <a href="{{ routes.cart_url }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 23C9.10457 23 10 22.1046 10 21C10 19.8954 9.10457 19 8 19C6.89543 19 6 19.8954 6 21C6 22.1046 6.89543 23 8 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20 23C21.1046 23 22 22.1046 22 21C22 19.8954 21.1046 19 20 19C18.8954 19 18 19.8954 18 21C18 22.1046 18.8954 23 20 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M5.67 6H23L21.32 14.39C21.1313 15.3402 20.2886 16.0186 19.32 16H8.75C7.73948 16.0086 6.88134 15.262 6.75 14.26L5.23 2.74C5.09962 1.7456 4.25291 1.00152 3.25 1H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>            
          </a>
        </div> 
      </div>
  </div>
</div> 
<div class="header__second-row side-pads">
  <div class="header-container">
    <div class='menu-container'>
      <div id="menu-toggle">
        <i class="fas fa-bars"></i><span>MENU</span>
      </div>
      <ul id='menu' class="header__menu">
        {% for link in section.settings.menu.links%}
        <li><a href="{{link.url | url}}">{{link.title | escape}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class='authentication'>
      <a href="" class="header__sign-up-btn">
        <span >{%if customer%}Sign Out{%else%}Sign In{%endif%}</span>
      </a>   
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#menu-toggle').click(function(){
      
      $('#menu').toggleClass('active-menu');
      console.log('test123321')
  })
})
</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}