<div class="header__first-row side-pads">
  <div class="header-container">
      <div class="brand-container">
        <a class="brand" href="/">
          <div class="brand__logo">
            {{ section.settings.logo | img_url: 'medium' | img_tag }}
          </div>
          <div class="brand__company-name">
               
          </div>
        </a>
      </div>
      <div class ='search-field'>
        <form class='search-form' action="{{ routes.search_url }}">
          <label for="search-input" ></label>        
          <input id="search-input" class='search-form__input' type="text"
            placeholder="¿Que buscas?"
            name="q"
            value="{{ search.terms | escape }}"
          >
          <div class="search-form__btn">
            <input class='search-form__btn' type="submit" value="">
            <i class="fas fa-search"></i>
          </div>
        </form>
      </div>  
      <div class='right-info-blocks'>
        <div class="block">
          <div class='block__heading'>
            <svg class='icon' width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M21 10C21 17 12 23 12 23C12 23 3 17 3 10C3 5.02944 7.02944 1 12 1C16.9706 1 21 5.02944 21 10V10Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
            <span class='text'>
              <strong>Todas</strong>
            </span>
          </div>
          <div class="block__subheading">
            Seleccionar tienda
          </div>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>   
        <div class="block">
          <div class='block__heading'>
            <div class="user-icon icon">{% if customer %}{{ customer.first_name | truncate: 2, ""}}{% else %}Us{% endif %}</div>
            <span class='text'>
              <strong>{% if customer %}{{ customer.first_name }}{% else %}User{% endif %}</strong>
            </span>
          </div>
          <div class="block__subheading">
            <a href="/account/login">Ir a mi cuenta</a>
          </div>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>         
        <div class="whislist-btn">
          <a href="">
            <svg width="24" height="22" viewBox="0 0 24 22" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20.8401 3.60999C19.8086 2.57799 18.4093 1.99817 16.9501 1.99817C15.491 1.99817 14.0916 2.57799 13.0601 3.60999L12.0001 4.66999L10.9401 3.60999C8.79173 1.46161 5.30851 1.46161 3.16012 3.60999C1.01173 5.75838 1.01173 9.24161 3.16012 11.39L4.22012 12.45L12.0001 20.23L19.7801 12.45L20.8401 11.39C21.8721 10.3585 22.4519 8.95913 22.4519 7.49999C22.4519 6.04086 21.8721 4.64152 20.8401 3.60999Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>              
          </a>
        </div>
        <div class="divider">
          <svg width="2" height="42" viewBox="0 0 2 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1V41" stroke="#A6A6A6" stroke-linecap="round"/>
          </svg>            
        </div>         
        <div class="shopping-cart">
          <a href="{{ routes.cart_url }}">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8 23C9.10457 23 10 22.1046 10 21C10 19.8954 9.10457 19 8 19C6.89543 19 6 19.8954 6 21C6 22.1046 6.89543 23 8 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path fill-rule="evenodd" clip-rule="evenodd" d="M20 23C21.1046 23 22 22.1046 22 21C22 19.8954 21.1046 19 20 19C18.8954 19 18 19.8954 18 21C18 22.1046 18.8954 23 20 23Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M5.67 6H23L21.32 14.39C21.1313 15.3402 20.2886 16.0186 19.32 16H8.75C7.73948 16.0086 6.88134 15.262 6.75 14.26L5.23 2.74C5.09962 1.7456 4.25291 1.00152 3.25 1H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>            
          </a>
        </div> 
      </div>
  </div>
</div> 
<div class="header__second-row side-pads">
  <div class="header-container">
    <div class='menu-container'>
      <div id="menu-toggle">
        <i class="fas fa-bars"></i><span>MENU</span>
      </div>
      <ul id='menu' class="header__menu">
        {% for link in section.settings.menu.links%}
        <li><a href="{{link.url | url}}">{{link.title | escape}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class='authentication'>
      <a href="{%if customer%}/account/logout{%else%}/account/login{%endif%}" class="header__sign-up-btn">
        <span >{%if customer%}Sign Out{%else%}Sign In{%endif%}</span>
      </a>   
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
    $('#menu-toggle').click(function(){
      
      $('#menu').toggleClass('active-menu');
      console.log('test123321')
  })
})
</script>
{% schema %}
{
  "name": "t:sections.header.name",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    }
  ]
}
{% endschema %}