<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<link rel="stylesheet" href="{{ 'main-product.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'main-product.css' | asset_url | stylesheet_tag }}</noscript>

<div class="main-product-container">
  <div class="breadcrumb-nav">Pinturas > Pinturas de exterior > GCB43562CR-18</div>
  <div class="main-product">
    <div class="product-carousel card--elevation">
      <div class="carousel-container">
        <div class="slider-nav">
          {% for image in product.images %}
          <div class="nav-slide slide">
          {{ image | img_url: 'small' | img_tag  }}
          </div>
          {% endfor %}
        </div>        
        <div class="main-carousel">
          {% for image in product.images %}
          <div class="main-slide slide">
          {{ image | img_url: 'medium' | img_tag  }}
          {{ image | img_url: 'master' | img_tag  }}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="buying-card card--elevation card--elevation-raised">
      <div class="product-buy-card__brand-sku">GENAIRE | GEN542ULCR-18</div>
      <div class="product-buy-card__social-share" style="width: max-content">
        <ul class="footer__list-social list-unstyled list-social" role="list">
          {%- if settings.social_twitter_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_twitter_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                {%- render 'icon-twitter' -%}
                <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
              </a>
            </li>
          {%- endif -%}
          {%- if settings.social_facebook_link != blank -%}
            <li class="list-social__item">
              <a href="{{ settings.social_facebook_link }}" class="link link--text list-social__link" aria-describedby="a11y-external-message">
                {%- render 'icon-facebook' -%}
                <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
              </a>
            </li>
          {%- endif -%}
        </ul>
      </div>
      <div class="product-buy-card__title">Aire acondicionado split basico de 12.000 btu</div>
      <div class="product-buy-card__price">
        $259.99 <span class="product-buy-card__price-before">$299.99</span>
      </div>
      <div class="product-buy-card__know-more">Conocer más</div>
      <hr class="product-buy-card__divider">
      <div class="shipping-method">
        <span class="shipping-method__title">Método de entrega</span>
        <div class="shipping-method__one">Envio a Domicilio</div>
        <div class="shipping-method__two">Retiro en tienda</div>
      </div>
      <div class="product-buy-card__form">

      </div>
    </div>
    <div class="product-info">
      <div class="product-info__tags">
        <tag class="vendor">GENARE</tag>
        <tag class="main-collectior">Aires acondicionados</tag>
      </div>
      <div class="product-info__details card--elevation">
        {{ section.settings.product-details }}
      </div>
    </div>
    <div class="product-upsell">
      <h2 class="product-upsell__title">Mejora tu compra</h2>
      <div class="product-upsell__items card--elevation">
        <div class="upsell-item">
          <img class="product-upsell__item__img" src="" style="background: black; width: 114px; height: 110px" alt="">
          <div class="product-upsell__item__info">
            <span>COLOR KOTE</span>
            <span>Juego de bandeja plástica para pintar</span>
            <span>$99.99</span>
            <button>Agregar</button>
          </div>
        </div>
        <div class="upsell-item">
          <img class="product-upsell__item__img" src="" style="background: black; width: 114px; height: 110px" alt="">
          <div class="product-upsell__item__info">
            <span>COLOR KOTE</span>
            <span>Juego de bandeja plástica para pintar</span>
            <span>$99.99</span>
            <button>Agregar</button>
          </div>
        </div>
        <div class="upsell-item">
          <img class="product-upsell__item__img" src="" style="background: black; width: 114px; height: 110px" alt="">
          <div class="product-upsell__item__info">
            <span>COLOR KOTE</span>
            <span>Juego de bandeja plástica para pintar</span>
            <span>$99.99</span>
            <button>Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="product-specs card--elevation">
      <h2 class="product-specs__title">ESPECIFICACIONES</h2>
      <hr>
      <div class="product-specs__item">
        <div class="key">Acabado:</div>
        <div class="value">Mate</div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(){

    $('.main-carousel').slick({
      asNavFor: '.slider-nav',
      arrows: false,
      fade: true
    });
    $('.slider-nav').slick({
      asNavFor: '.main-carousel',
      arrows: true,
      vertical: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      centerMode: true,
      dots: true,
      focusOnSelect: true
    })
    
    // On hover zoom function
    $(".main-slide").hover(function(){
      $(this).mousemove(function(event){            
            var relX = (event.pageX - ($(this).offset().left)) - ($(this).width() / 2);
            var relY = (event.pageY - ($(this).offset().top)) - ($(this).height() / 2);
            $('.main-slide img:nth-child(2)').css({'bottom': relY + 'px', 'right': relX + 'px'});
            console.log('test123')
        });
    })

  })
</script>
{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section side-pads",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "link_label",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
